<ion-view title="360 Videos" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <h1 id="360Videos-heading3" style="color:#1F24A8;font-weight:300;text-align:center;">El- Oued</h1>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/36T_AZeM3VM">
        <img src="img/KnmCSzYTxuNjJ8lLRNik_ScreenShot2018-07-12at4.08.14PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="360Videos-list1">
      <ion-item class="item-divider" id="360Videos-list-item-divider1"> Video discription:</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="360Videos-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Follow students Sabrina, Abu baker and Omar as they have a live jamming session to their favourite western and Algerian folk songs and socialise in the Algerian Nightlife Gouri Park. Algeria labels itself as a Muslim country. However, unlike other
        Muslim countries its French colonisation period has left a big imprint in the way the Algerian society functions today. In the interview it is mentioned that participants and the younger generation act and behave as freely as they wish but always
        keep in mind their religion and behave in a way that is respectful and acceptable without crossing “the line”. This plays a vital role in student lifestyle as it shapes the way in which the opposite sex students interact and socialise in El Oued
        compared to Western societies.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/GbFOr_OyOws">
        <img src="img/88UH6fpyQOu3CBfjmrC6_ScreenShot2018-07-12at4.12.50PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="360Videos-list4">
      <ion-item class="item-divider" id="360Videos-list-item-divider2"> Video discription:</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="360Videos-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hanan, Omari discuss their Education in EL Oued and talk about how they view the opportunities they have compared to previous generations and also what they love and enjoy about studying in Hamma Lakhdar University. They also discuss what they wish
        would be developed and improved to maximise their learning and educational experience.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div>
      <img src="img/0n2twjCNRcSIBFC9Kl49_ScreenShot2018-08-13at2.03.49PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="360Videos-list8">
      <ion-item class="item-divider" id="360Videos-list-item-divider5"> Video discription:</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="360Videos-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Aladdine and Mohsen talk about how they view their culture and what makes them a member of the Oued society. They also discuss what makes them stand out from other towns in Algeria in terms of food and accents.</p>
    </div>
  </ion-content>
</ion-view>