<ion-view title="Home Page " id="page6">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="homePage2-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="homePage2-slide25" style="background:url(&quot;img/Sqbq2swFSXKfQAQUqZqH_ScreenShot2018-06-20at3.32.23AM.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="homePage2-slide26" style="background:url(&quot;img/FQPqdZ7SGyn1fr90U7WH_ScreenShot2018-06-21at12.06.31AM.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="homePage2-slide210" style="background:url(&quot;img/qn7nHDbRTMmJLNmhq36T_ScreenShot2018-08-13at6.12.13PM.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <h3 id="homePage2-heading1" style="color:#000000;text-align:center;">ABOUT</h3>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="homePage2-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hi, my name is Amina Kenewa, and I am a third-year Digital Media student at Coventry University. While growing up, I have always wondered what my life would be like had my parents not travelled across the globe multiple times only to finally settle
        in the UK.</p>

      <p style="color:#000000;">As a “Third Cultured Kid” I continuously struggled to relate to my family members back home as well as, fitting in here. Hence, I found myself distanced and confused and began questioning my identity. I have always wanted to feel and understand
        and somehow connect with my roots and finally grasp what I had missed out on regarding understanding the norms and values of my parent’s society and culture, and from the research, I have conducted 85% of TCK agree. Therefore, I chose to combine
        my overgrowing feelings along with my Digital media knowledge to create ‘Project 360’. </p>

      <p style="color:#000000;"> Project 360, aims to showcase the lifestyle, Education and Entertainment culture of students like myself in the final year of an undergraduate university course. By creating 360 immersive short films (mini-docs) following 3 participants from Algeria
        ‘El Oued’ (my country of origin) to emulate the feeling of experiencing the lifestyle. This is all published here for you to experience. Get the full intended experience of these videos by watching using a VR headset. </p>

      <p style="color:#000000;">
        <strong>Thank you and Enjoy!</strong>
      </p>
    </div>
  </ion-content>
</ion-view>